*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    padding: 0px 50px;
    background-image: url(images/CarouselChatChaska_Front.png);
    background-repeat: repeat;
    margin: 0px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background-color: rgb(197, 194, 194);
    margin-bottom: 10px;
}

nav {
    display: flex;
    gap: 30px;
}
nav > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

nav > a:hover {
    scale: 1.2;
    color: aliceblue;
}

input {
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
}

.popular, .newest, .allProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h4{
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 5px;
    background-color: grey;
    color: antiquewhite;
    font-size: 1.4rem;
}

.pop-con {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 15px;
}
.grid{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.grid > h6, p {
    padding-left: 20px;
    margin-top: 0px;
}
h6 {
    margin-top: 0px;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.grid img {
    width: 100%;
    scale: 1.1;
    /* background-color: red; */
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
}
.grid:hover img {
    width: 100%;
    transform: scale(1.3);
}

.advert {
    height: 500px;
    padding: 0px;
    margin-top: 20px;
    background-image: url(images/CarouselChatChaska_Front.png), url(images/pro2_back.png);
    background-color: rgb(184,211,71);
    border-radius: 10px;
}
h2 {
    text-align: center;
    position: relative;
    top: -100px;
    color: rgb(6,74,39);
}

.advert img{
    width: 100%;
    height: 100%;
    scale: 0.8;
    transition: transform 0.7s ease-in-out;
}
/*  */
.advert:hover img {
    transform: translateY(25px);
}
.newest, .appProduct{
    display: flex;
    flex-direction: column;
}

.new-grid, .all-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 15px;
}
.about-div {
    display: grid;
    grid-template-columns: auto auto 30%;
    text-align: center;
    gap: 20px;
}
.allProduct {
    margin-bottom: 20px;
}

footer{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    border-top: 1px solid aliceblue;
}

.one {
    background-color: rgb(96,177,155);
}
.two {
    background-color: rgb(230,91,83);
}
.three {
    background-color: rgb(212,162,72);
}
.four {
    background-color: rgb(105,205,255);
}
.five {
    background-color: rgb(255,240,109);
}
.six {
    background-color: rgb(161,68,21);
}
.seven {
    background-color: rgb(209,59,59);
}
.eight {
    background-color: rgb(120,188,90);
}
.nine {
    background-color: rgb(184,211,71);
}
.ten {
    background-color: rgb(255,239,101);
}
.eleven {
    background-color: rgb(248,178,80);
}
.twelve {
    background-color: rgb(86,175,228);
}
.thirteen {
    background-color: rgb(208,114,67);
}
.fourteen {
    background-color: rgb(177,74,158);
}
.fifteen {
    background-color: rgb(131,203,83);
}
.sixteen {
    background-color: rgb(250,144,71);
}
.about-div, footer {
    background-color: rgb(202, 193, 193);
}
#img1 {
    background-color: rgb(255,250,56);
    background-image: url(images/CarouselChatChaska_Front.png);
}

#img2 {
    background-color: rgb(0,237,255);
    background-image: url(images/pro2_back.png);
}
.slider {
    width: 100%;
    /* max-width: 800px; */
    height: 500px;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 15px;
  }
  
  .slide {
    width: 100%;
    /* max-width: 800px; */
    height: 500px;
    position: absolute;
    transition: all 0.5s;
  }

   .slide-text {
    position: absolute;
    color: red;
    z-index: 20;
  }

  .text1 {
    top: 40%;
    left: 55%;
    font-size: 3rem;
  }
  .text2 {
    top: 55%;
    left: 60%;
    color: rgb(6,74,39);
  }

  .slide-text2 {
    position: absolute;
    color: greenyellow;
    z-index: 20;
  }

  .text3 {
    top: 35%;
    left: 20%;
    font-size: 3rem;
  }
  .text4 {
    top: 50%;
    left: 23%;
    color: rgb(6,74,39);
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }